<div class="related">
  <span class="related_title">RELATED PROJECTS</span>

  <div class="related_container">

    <div class="related_item">
      <a href="#" class="related_preview"><img src="%=static=%img/general/slide.png" alt="" class="related_img"></a>
      <div class="related_desc">
        <span class="related_item-title">Lorem Ipsum Dolor</span>
        <a class="related_cat" href="#">print,</a>
        <a class="related_cat" href="#">print,</a>
        <a class="related_cat" href="#">print</a>
      </div>
    </div>

    <div class="related_item">
      <a href="#" class="related_preview"><img src="%=static=%img/general/slide.png" alt="" class="related_img"></a>
      <div class="related_desc">
        <span class="related_item-title">Lorem Ipsum Dolor</span>
        <a class="related_cat" href="#">print,</a>
        <a class="related_cat" href="#">print,</a>
        <a class="related_cat" href="#">print</a>
      </div>
    </div>

    <div class="related_item">
      <a href="#" class="related_preview"><img src="%=static=%img/general/slide.png" alt="" class="related_img"></a>
      <div class="related_desc">
        <span class="related_item-title">Lorem Ipsum Dolor</span>
        <a class="related_cat" href="#">print,</a>
        <a class="related_cat" href="#">print,</a>
        <a class="related_cat" href="#">print</a>
      </div>
    </div>

  </div>
</div>
