.related {
  margin-bottom: 62px;
  margin-top: 82px;

    &_title {
      display: block;
      margin-bottom: 15px;

      text-shadow: 0 1px 0 white;
      color: #4d4d4d;
      font-family: MenschRegular;
      font-size: 36px;
      font-weight: 400;
      line-height: 36px;
      text-transform: uppercase;
    }

    &_container {
      display: flex;
      justify-content: space-between;
    }

      &_item {
        width: 300px;

        text-align: center;
        font-family: @Tahoma;
      }

        &_preview {
          display: block;
        }

          &_img {
            display: block;
            height: 190px;
            width: 100%;
          }

        &_desc {

        }

          &_item-title {
            display: block;
            margin-top: 18px;

            color: #4d4d4d;
            font-size: 16px;
            font-weight: 400;
            line-height: 16px;
          }

          &_cat {
            color: #888;
            font-size: 12px;
            font-weight: 400;
            text-decoration: none;
          }
}
