<!doctype html>
<html class="no-js" lang="ru">

<head>
  {{> head/head head.defaults}}
</head>

<body class="page">

  <div class="page_wrap">
    
    {{> social/social }}

    <div class="header wrap">
      <div class="header_logo logo">
        <img src="%=static=%img/general/logo.png" alt="" class="logo_img header_logo-img">
      </div>

      <div class="nav_container wrap">
        <ul class="nav header_nav">
          <li class="nav_list header_nav-list"><a href="index.html" class="header_nav-item nav_item">HOME</a></li>
          <li class="nav_list header_nav-list"><a href="" class="header_nav-item nav_item">ABOUT</a></li>
          <li class="nav_list header_nav-list"><a href="blog.html" class="header_nav-item nav_item">BLOG</a></li>
          <li class="nav_list header_nav-list"><a href="work.html" class="header_nav-item nav_item -active">WORK</a></li>
          <li class="nav_list header_nav-list"><a href="" class="header_nav-item nav_item">CONTACT</a></li>
        </ul>
      </div>

    </div>

    <div class="work wrap">
      <span class="work_title">Pellentesque habitant morbi</span>

      {{> preview/preview}}

      {{> related/related}}

    </div>

    {{> banner/banner }}

    {{> footer/footer }}

  </div>

<script src="%=static=%js/main%=hash=%%=min=%.js"></script>
</body>

</html>