<div class="preview_container">

  <div class="preview_column">
    <div class="preview_item"><img src="%=static=%img/general/slide.png" alt="" class="preview_img"></div>
    <div class="preview_item"><img src="%=static=%img/general/slide.png" alt="" class="preview_img"></div>
  </div>

  <div class="preview_column">
    <div class="preview_info">
      <div class="preview_desc">
        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
        <p>Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turp.</p>
      </div>
      <a href="#" class="preview_link">Lauch Project</a>
    </div>

    <div class="preview_about">
      <div class="preview_about-item">
        <span class="preview_about-title">Client</span>
        <span class="preview_about-subtitle">Mr. Tanaka</span>
      </div>
      <div class="preview_about-item">
        <span class="preview_about-title">Date</span>
        <span class="preview_about-subtitle">Jan 12, 2012</span>
      </div>
    </div>
  </div>

</div>
