.preview {


    &_container {
      display: flex;
      justify-content: space-between;
    }

      &_column {
        margin-right: 20px;

          &:last-child {
            margin-right: 0;
            padding-right: 12px;
          }
      }

        &_item {
          width: 620px;
          margin-bottom: 25px;
        }

          &_img {
            display: block;
            width: 100%;
          }

      &_info {
        padding-bottom: 39px;
        margin-bottom: 23px;

        background-image: url(../img/general/lineInfo.png);
        background-repeat: no-repeat;
        background-position: 50% 100%;
      }

        &_desc {
          color: #444;
          font-family: @Tahoma;
          font-size: 16px;
          font-weight: 400;
          line-height: 21px;

            p {
              margin: 0;
              margin-bottom: 35px;

                &:last-child {
                  margin-bottom: 0;
                }
            }
        }

        &_link {
          display: inline-block;
          margin-top: 30px;
          padding: 6px 12px 8px 10px;

          color: white;
          font-family: @Tahoma;
          font-size: 14px;
          font-weight: 400;
          text-decoration: none;

          background-color: #e37655;
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.33);
        }

      &_about {

      }

        &_about-item {
          margin-bottom: 4px;

          color: #444;
          font-family: @Tahoma;
          font-size: 14px;
          line-height: 22px;

            &:last-child {
              margin-bottom: 0;
            }
        }

          &_about-title {
            display: block;

            font-weight: 700;
          }

          &_about-subtitle {
            font-weight: 400;
          }
}
