<div class="sidebar">
  <div class="sidebar_content">
    <span class="sidebar_title">ARCHIVES</span>

    <div class="sidebar_container">
      <a href="#" class="sidebar_item">January 12, 2012 (16)</a>
      <a href="#" class="sidebar_item">January 12, 2012 (16)</a>
      <a href="#" class="sidebar_item">January 12, 2012 (16)</a>
      <a href="#" class="sidebar_item">January 12, 2012 (16)</a>
      <a href="#" class="sidebar_item">January 12, 2012 (16)</a>
      <a href="#" class="sidebar_item">January 12, 2012 (16)</a>
    </div>
  </div>
</div>
