.sidebar {
  position: relative;

  width: 320px;

    &:before {
      content: '';

      position: absolute;
      left: 16px;
      top: -7px;

      display: block;
      width: 309px;
      height: 280px;
      margin-left: -17px;

      background-image: url(../img/general/top.png);
      background-repeat: no-repeat;
    }

    &:after {
      content: '';

      position: absolute;
      right: 0;
      top: 34px;

      display: block;
      width: 296px;
      height: 318px;
      margin-left: -17px;

      background-image: url(../img/general/bottom.png);
      background-repeat: no-repeat;
    }

    &_content {
      position: relative;
      z-index: 5;

      height: 345px;
      padding-left: 10px;
      padding-top: 34px;
      padding-bottom: 30px;
      box-sizing: border-box;

      background-color: #f1f1f1;
      border: 1px solid #ccc;

        &:before {
          content: '';

          position: absolute;
          left: 50%;
          top: -6px;

          display: block;
          width: 34px;
          height: 32px;
          margin-left: -17px;

          background-image: url(../img/general/pick.png);
          background-repeat: no-repeat;
        }
    }

      &_title {
        display: block;
        padding-bottom: 5px;

        color: #4d4d4d;
        font-family: MenschRegular;
        font-size: 24px;
        font-weight: 400;

        border-bottom: 1px solid #9b9a90;
      }

      &_container {
        padding-top: 24px;
        padding-left: 1px;

        color: #444;
        font-family: @Tahoma;
        font-size: 14px;
        font-weight: 400;
      }

        &_item {
          display: block;
          margin-bottom: 25px;

          color: #444;
          text-decoration: none;

            &:last-child {
              margin-bottom: 0;
            }
        }
}
