.work {
  width: 940px;

    &_title {
      display: block;
      margin-bottom: 20px;
      
      text-shadow: 0 1px 0 white;
      color: #4d4d4d;
      font-family: MenschRegular;
      font-size: 48px;
      font-weight: 400;
      line-height: 48px;
      text-transform: uppercase;
    }
}
