.post {
  padding-top: 10px;
  width: 580px;

    &_preview {

    }

      &_img {
        display: block;
        width: 100%;
        height: 360px;
      }

    &_item {
      display: flex;
      justify-content: space-between;
      margin-top: 21px;
    }

      &_sidebar {
        display: inline-flex;
        flex-direction: column;
        align-items: center;
      }

        &_date {
          width: 70px;
          height: 70px;
          padding-top: 14px;
          margin-bottom: 17px;
          box-sizing: border-box;

          color: #f0edda;
          font-family: MenschRegular;
          font-size: 24px;
          font-weight: 400;
          line-height: 24px;
          text-transform: uppercase;
          text-align: center;

          background-color: #e37655;
          box-shadow: 1px 1.7px 0 rgba(77, 77, 77, 0.75);
          border-radius: 50%;

            span {
              display: block;
            }
        }

        &_comments-count {
          width: 37px;
          height: 32px;
          padding-top: 6px;
          box-sizing: border-box;

          font-family: @Tahoma;
          text-align: center;
          color: white;
          font-size: 12px;
          font-weight: 400;
          line-height: 12px;

          background-image: url(../img/general/comments.png);
          background-repeat: no-repeat;
          background-size: cover;

            span {

            }
        }

      &_main {
        padding-top: 9px;
        margin-left: 25px;

        font-family: @Tahoma;
      }

        &_title {
          display: block;
          margin-bottom: 3px;

          text-shadow: 0 1px 0 white;
          color: #4d4d4d;
          font-family: MenschRegular;
          font-size: 36px;
          font-weight: 400;
          line-height: 36px;
          text-transform: uppercase;

          border-bottom: 1px solid #888;
        }

        &_author {
          color: #888;
          font-size: 12px;
          font-weight: 400;
          text-decoration: none;
        }

        &_desc {
          text-shadow: 0 1px 0 white;
          color: #4d4d4d;
          font-size: 16px;
          font-weight: 400;
          line-height: 21px;

            p {

            }
        }

        &_more {
          display: inline-block;
          padding: 8px 12px 8px 10px;

          color: #fff;
          text-decoration: none;
          font-size: 14px;
          line-height: 14px;

          background-color: #e37655;
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.33);
        }
}
