<div class="post">
  <div class="post_preview">
    <img src="%=static=%img/general/slide.png" alt="" class="post_img">
  </div>

  <div class="post_item">
    <div class="post_sidebar">

      <div class="post_date">
        <span>JAN</span>
        <span>12</span>
      </div>
      <div class="post_comments-count">
        <span>210</span>
      </div>

    </div>
    <div class="post_main">
      <span class="post_title">Pellentesque habitant morbi tristique senectus et netus</span>
      <a href="#" class="post_author">By Ansimuz in webdesign, print, photo</a>

      <div class="post_desc">
        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est.</p>
      </div>

      <a href="#" class="post_more">Read More</a>
    </div>
  </div>
</div>
