.nav {


    &_container {
      width: 942px;
      height: 86px;
      padding-top: 28px;
      box-sizing: border-box;

      background-image: url(../img/general/lineNav.png);
      background-size: 100%;
      background-repeat: no-repeat;
    }
}
