.feature {
  width: 300px;

    &_preview {
      position: relative;
      display: block;

      height: 364px;
      margin-bottom: 60px;
      box-sizing: border-box;

      border: 5px solid #a9b082;
      outline: none;

      transition: .3s;

        &:hover {
          transform: scale(1.05);
        }
    }

      &_img {
        display: block;
        width: 100%;
        height: 354px;
        object-fit: cover;
      }

      &_date {
        position: absolute;
        left: 50%;
        bottom: -35px;

        width: 70px;
        height: 70px;
        box-sizing: border-box;
        padding-top: 15px;
        margin-left: -35px;

        text-align: center;

        background-color: #e37655;
        box-shadow: 1px 1.7px 0 rgba(77, 77, 77, 0.75);
        border-radius: 50%;

          span {
            display: block;

            color: #f0edda;
            font-family: MenschRegular;
            font-size: 24px;
            font-weight: 400;
            line-height: 24px;
            text-transform: uppercase;
          }
      }

        &_date-month {

        }

        &_date-day {

        }

    &_info {

    }

      &_desc {
        padding-bottom: 14px;

        color: #4d4d4d;
        font-family: @Tahoma;
        font-size: 16px;
        font-weight: 400;
        text-align: center;
        line-height: 24px;
        text-transform: uppercase;

        border-bottom: 1px solid #888;

          p {
            margin: 0;
          }
      }

      &_type {
        padding-top: 14px;

        color: #888;
        letter-spacing: -.13px;
        text-align: center;
        font-family: @Tahoma;
        font-size: 12px;
        font-weight: 400;
      }

        &_type-link {
          text-decoration: none;
          color: #888;
        }
}