<div class="footer wrap">
  <div class="footer_container">

    <div class="footer_col -posts">
      <span class="footer_col-title">RECENT POSTS</span>

      <div class="footer_posts">

        <div class="footer_post">
          <span class="footer_post-title">Vestibulum tortor quam, feugiat.</span>
          <span class="footer_post-date">March 12, 2011</span>
        </div>

        <div class="footer_post">
          <span class="footer_post-title">Vestibulum tortor quam, feugiat.</span>
          <span class="footer_post-date">March 12, 2011</span>
        </div>

        <div class="footer_post">
          <span class="footer_post-title">Vestibulum tortor quam, feugiat.</span>
          <span class="footer_post-date">March 12, 2011</span>
        </div>

      </div>
    </div>

    <div class="footer_col -archives">
      <span class="footer_col-title">ARCHIVES</span>

      <div class="footer_posts">

        <div class="footer_post">
          <span class="footer_post-title">January 12, 2012</span>
          <span class="footer_post-count">(16)</span>
        </div>

        <div class="footer_post">
          <span class="footer_post-title">January 12, 2012</span>
          <span class="footer_post-count">(16)</span>
        </div>

        <div class="footer_post">
          <span class="footer_post-title">January 12, 2012</span>
          <span class="footer_post-count">(16)</span>
        </div>

        <div class="footer_post">
          <span class="footer_post-title">January 12, 2012</span>
          <span class="footer_post-count">(16)</span>
        </div>

        <div class="footer_post">
          <span class="footer_post-title">January 12, 2012</span>
          <span class="footer_post-count">(16)</span>
        </div>

      </div>
    </div>

    <div class="footer_col -text">
      <span class="footer_col-title">DUMMY TEXT</span>

      <div class="footer_desc">
        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est.</p>
      </div>
    </div>

    <div class="footer_col -search">
      <span class="footer_col-title">SEARCH</span>

      <form action="" class="footer_search">
        <label for="search" class="footer_input-label">Type and hit enter</label>
        <div class="footer_wrap">
          <input id="search" type="search" class="footer_input">
          <label for="submit" class="footer_submit-label"></label>
        </div>
        <input id="submit" type="submit" class="footer_submit">
      </form>
    </div>

  </div>
</div>
