.footer {
  padding-top: 53px;
  padding-bottom: 45px;

  background-image: url(../img/general/footer.png);
  background-repeat: repeat-x;
  background-size: cover;
  background-position: 50% -100px;

    &_container {
      display: flex;
      justify-content: space-between;
      width: 940px;
      box-sizing: border-box;
      margin: 0 auto;
    }

      &_col {
        width: 220px;
        box-sizing: border-box;

        font-family: @Tahoma;

          &.-posts {

              .footer_post {
                margin-bottom: 20px;

                  &:last-child {
                    margin-bottom: 0;
                  }
              }
          }

          &.-archives {

              .footer_post {
                padding-bottom: 10px;
                margin-bottom: 12px;

                border-bottom: 1px solid rgba(135,132,115,.4);

                  &:last-child {
                    margin-bottom: 0;
                  }
              }
          }
      }

        &_col-title {
          display: block;
          margin-bottom: 28px;

          text-align: center;
          color: #e8e5d2;
          font-family: MenschRegular;
          font-size: 24px;
          font-weight: 400;

          border-bottom: 1px solid rgba(135,132,115,.4);
        }

        &_posts {

        }

          &_post {
            font-size: 14px;
            font-weight: 400;
          }

            &_post-title {
              color: #ece9d6;
            }

            &_post-date {
              display: block;

              color: #878473;
            }

            &_post-count {
              color: #878473;
            }

          &_desc {
            color: #ece9d6;
            font-weight: 400;
            line-height: 21px;

              p {
                margin: 0;
              }
          }

          &_search {

          }

            &_input-label {
              display: block;
              margin-bottom: 13px;

              color: #ece9d6;
              font-size: 14px;
            }

            &_wrap {
              position: relative;
            }

              &_submit-label {
                position: absolute;
                right: 0;
                top: 0;

                display: block;
                width: 43px;
                height: 43px;
                box-sizing: border-box;

                background-image: url(../img/general/search.png);
                background-repeat: no-repeat;

                cursor: pointer;
              }

              &_input {
                width: 220px;
                height: 43px;
                padding-left: 10px;
                padding-right: 43px;
                box-sizing: border-box !important;

                background-color: #f1f1f1;
                border: none;
                outline: none;
              }

              &_submit {
                display: none;
              }
}
