<div class="banner wrap">
  <div class="banner_container">
    <span class="banner_title">about 16 hours ago </span>
    <span class="banner_theme">New at ThemeForest - FitnessMag - Responsive Blogging WordPress Theme <a href="http://t.co/O3it76LI">http://t.co/O3it76LI</a></span>
  </div>
</div>

