.banner {
  position: relative;

  background-color: #e37655;

    &:after {
      content: '';

      position: absolute;
      left: -56px;
      top: -12px;

      display: block;
      width: 56px;
      height: 92px;

      background-image: url(../img/general/banner.png);
      background-repeat: no-repeat;
    }

    &:before {
      content: '';

      position: absolute;
      right: -56px;
      top: -12px;

      display: block;
      width: 56px;
      height: 92px;

      background-image: url(../img/general/banner.png);
      background-repeat: no-repeat;

      transform: rotate(180deg);
    }

    &_container {
      padding-top: 26px;
      padding-bottom: 31px;

      font-family: @Tahoma;
      font-weight: 400;
      text-align: center;
    }

      &_title {
        display: block;
        margin-bottom: 5px;

        text-align: center;
        color: #4d4d4d;
        font-size: 12px;
      }

      &_theme {
        color: #fefefe;
        font-size: 16px;

          a {
            color: #fdd600;
            text-decoration: none;
          }
      }
}
