<div class="social wrap">
  <div class="social_container">
    <a href="#" class="social_item"></a>
    <a href="#" class="social_item"></a>
    <a href="#" class="social_item"></a>
    <a href="#" class="social_item"></a>
  </div>
</div>

