.social {
  padding: 14px 0 9px;
  
  text-align: center;

  background-color: rgba(77, 77, 77, 0.15);

    &_container {
      display: inline-flex;
      justify-content: space-between;
      margin: 0 auto;
    }

      &_item {
        display: block;
        width: 32px;
        height: 32px;
        margin-right: 15px;

        background-color: #fff;
        border-radius: 50%;

          &:last-child {
            margin-right: 0;
          }
      }
}
