<div class="main">
  
  <div class="main_slider slider">
    <img src="https://pp.vk.me/c629500/v629500290/3af3a/qRXEq7Y5zLM.jpg" alt="" class="slider_item">
    <img src="https://i.ytimg.com/vi/naY0uuEs9os/maxresdefault.jpg" alt="" class="slider_item">
    <img src="https://i.ytimg.com/vi/xFS5H5aKk30/maxresdefault.jpg" alt="" class="slider_item">
  </div>
</div>
