.main {


    &_slider {
      position: relative;

      background-image: url(../img/general/sliderShadow.png);
      background-repeat: no-repeat;
      background-position: 50% 12%;

        &:after {
          content: '';

          position: absolute;
          bottom: 41px;
          left: 0;

          display: block;
          width: 10px;
          height: 10px;

          background-image: url(../img/general/slider.png);
          background-repeat: no-repeat;
        }

        &:before {
          content: '';

          position: absolute;
          bottom: 41px;
          right: 0;

          display: block;
          width: 10px;
          height: 10px;

          background-image: url(../img/general/slider.png);
          background-repeat: no-repeat;

          transform: rotate(-90deg);
        }
    }
}
