// Common styles of the project

html, body {
  height: 100%;
}

.page {
  background-image: url(../img/general/bg.png);
}

.page_wrap {
  width: 1000px;
  min-height: 100%;
  margin: 0 auto;
  margin-bottom: -50px;
  box-sizing: border-box;


  background-image: url(../img/general/fg.png);
  background-size: 984px;
  background-repeat: repeat-y;
  background-position: 50% 50%;
}

.wrap {
  width: 980px;
  margin: 0 auto;
  box-sizing: border-box;
}

.main_slider .owl-wrapper-outer {
  box-sizing: border-box;
}

.owl-theme .owl-controls .owl-page span {
  position: relative;

  width: 27px;
  height: 27px;
  box-sizing: border-box;
  
  background-color: rgba(77, 77, 77, 0.15);
  box-shadow: 0 1px 0 #fefefe, inset 0 1px 0 rgba(0, 0, 0, 0.25);

  opacity: 1;

    &:after {
      content: '';

      position: absolute;
      top: 50%;
      left: 50%;

      display: block;
      width: 15px;
      height: 15px;
      margin-top: -8px;
      margin-left: -8px;

      border-radius: 50%;
      background-color: #e37655;

      opacity: 0;
    }

    &:hover {

      &:after {
        opacity: 1;
      }
    }
}

.owl-theme .owl-controls .owl-page.active span {
  position: relative;

    &:after {
      opacity: 1;
    }
}