@font-face {
  font-family: MenschRegular;
  src: url('../fonts/mensch.eot');
  src: url('../fonts/mensch.eot') format('embedded-opentype'),
       url('../fonts/mensch.woff2') format('woff2'),
       url('../fonts/mensch.woff') format('woff'),
       url('../fonts/mensch.ttf') format('truetype'),
       url('../fonts/mensch.svg#mensch') format('svg');
  font-weight: 400;
}
