<div class="features wrap">
  <h1 class="features_title">HALFTONE IS STYLISH AND CUTE</h1>

  <div class="features_container">

    <div class="feature">
      <a href="https://youtu.be/l3IKdW_VAL0" class="feature_preview" target="_blank">
        <img src="https://i.ytimg.com/vi/pXKrz5o-7Rg/maxresdefault.jpg" alt="" class="feature_img">
        <div class="feature_date">
          <span class="feature_date-month">JAN</span>
          <span class="feature_date-day">12</span>
        </div>
      </a>
      <div class="feature_info">
        <div class="feature_desc">
          <p>Pellentesque habitant morbi tristique senectus et netus et</p>
        </div>
        <div class="feature_type">
          <a href="" class="feature_type-link">webdesign</a>, <a href="#" class="feature_type-link">print</a>, <a href="#" class="feature_type-link">photo</a>
        </div>
      </div>
    </div>

    <div class="feature">
      <a href="https://youtu.be/9EX7HR1Fsq8" class="feature_preview" target="_blank">
        <img src="https://pp.vk.me/c631929/v631929273/1c40/w8gFx0wtgrI.jpg" alt="" class="feature_img">
        <div class="feature_date">
          <span class="feature_date-month">JAN</span>
          <span class="feature_date-day">12</span>
        </div>
      </a>
      <div class="feature_info">
        <div class="feature_desc">
          <p>Pellentesque habitant morbi tristique senectus et netus et</p>
        </div>
        <div class="feature_type">
          <a href="#" class="feature_type-link">webdesign</a>, <a href="#" class="feature_type-link">print</a>, <a href="#" class="feature_type-link">photo</a>
        </div>
      </div>
    </div>

    <div class="feature">
      <a href="https://youtu.be/86xrsLhL6o8" class="feature_preview" target="_blank">
        <img src="https://i.ytimg.com/vi/naY0uuEs9os/maxresdefault.jpg" alt="" class="feature_img">
        <div class="feature_date">
          <span class="feature_date-month">JAN</span>
          <span class="feature_date-day">12</span>
        </div>
      </a>
      <div class="feature_info">
        <div class="feature_desc">
          <p>Pellentesque habitant morbi tristique senectus et netus et</p>
        </div>
        <div class="feature_type">
          <a href="#" class="feature_type-link">webdesign</a>, <a href="#" class="feature_type-link">print</a>, <a href="#" class="feature_type-link">photo</a>
        </div>
      </div>
    </div>

  </div>
</div>


