.features {
  padding-bottom: 50px;

    &_title {
      text-shadow: 1.1px 1.7px 0 rgba(77, 77, 77, 0.52);
      color: #4d4d4d;
      font-family: MenschRegular;
      font-size: 48px;
      font-weight: 400;
      text-transform: uppercase;
      text-align: center;
    }

    &_container {
      display: flex;
      justify-content: space-between;
      width: 940px;
      box-sizing: border-box;
      margin: 0 auto;
      padding-top: 43px;

      background-image: url(../img/general/line.png);
      background-repeat: no-repeat;
      background-position: 50% 0;
    }
}
