.header {
  padding-bottom: 23px;
  padding-top: 30px;

    &_logo {
      margin-bottom: 40px;
      
      text-align: center;
    }

      &_logo-img {
        width: 242px;
        display: inline-block;
      }

    &_nav {
      width: 470px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      box-sizing: border-box;
    }

      &_nav-list {
        text-shadow: 0 1px 0 white;
        font-family: MenschRegular;
        font-size: 24px;
        font-weight: 400;
        list-style: none;
      }

        &_nav-item {
          padding: 0 14px;
          display: block;

          line-height: 37px;
          text-decoration: none;
          color: #4d4d4d;

          transition: .3s;

            &.-active {
              color: white;

              background-color: #e37655;
            }

            &:hover {
              color: white;

              background-color: #e37655;
            }
        }
}
